/* body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	background: url(../image/blob.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h1,
h2 {
	margin-top: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
}

label {
	display: block;
}

input,
textarea {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(../image/pjmasks.png) no-repeat center center fixed;
	background-size: cover;
	background-color: red;
}

/* header {
	background-color: green;
	color: white;
	text-align: center;
	height: 80px;
}
 */

header {
	background-color: yellow;
	color: green !important;
	text-align: center;
}

h1 {
	color: white;
	font-family: "Climate Crisis", cursive;
	font-size: 69px;
}

.friends {
	background-color: white;
	opacity: 0.5;
	padding: 40px;
	border-radius: 40px;
}

.favour {
	color: pink;
	font-size: 100px;
	font-family: "Montserrat", sans-serif;
}

.emma {
	color: green;
	font-size: 100px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.chris {
	font-size: 100px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.yellow {
	color: yellow;
}

.blue {
	color: blue;
}

.green {
	color: green;
}
