*,
*::after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background {
	background-image: url("../image/background.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center
	justify-content: space-between;
}

.overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.text {
	color: white !important;
	text-align: center;
	position: absolute;
	top: 25%;
	left: 30%;
}

.text h1 {
	font-size: 200px;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 2;
}

.text p {
	font-size: 36px;
}
